/*.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/* This is how the O spins! */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* This tells the O HOW to spin */
@keyframes App-logo-spin {
  from {
    /* Starting orientaton */
    transform: rotate(0deg);
  }
  to {
    /* How far to rotate */
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
