/*
* TODO:
* - prettify
*/

.Global-Dark{ /* The thought being we can implement light/dark mode l8r */
    background-color: black;
    display: flex; /* Pls refer to 101.html to recall what this means */
    flex-direction: column; /* Guessing if the above is dynamic window resizing,
    this tells it to organize by columns */
    font-size: calc(10px + 2vmin); /* Guessing this dynamically sizes fonts 
    based off page dimensions */
    color: white;
}

.TODO {
    text-align: left;
    align-items: left; /* Aligns nested elements (speculation) */
    justify-content: left; /* aligns elements wrt to others (speculation) */

}
.Author-Bits {
    min-height: 10vh; /* defines a minimum height for the element */
    align-items: center; /* Aligns nested elements (speculation) */
    justify-content: left; /* aligns elements wrt to others (speculation) */
}

.Confirmed {
    background-color: red;
    min-height: 10vh; /* defines a minimum height for the element */
    align-items: center; /* Aligns nested elements (speculation) */
    justify-content: left; /* aligns elements wrt to others (speculation) */
    color: black;

}

.buffer {
    min-height: 5vh; /* defines a minimum height for the element */
}

.AppNav {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

.AppContent {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.NavLink {
    width: 33%;
    display: inline-block;
    color: black;
}

/* Hyperlink behavior! */
/* a:link { */
/*     color: green; */
/*     background-color: black; */
/*     padding: 15px 25px; */
/*     text-align: center; */
/*     display: inline-block; */
/*     text-decoration: none; */
/* } /* CSS of an unvisited link */ */
/* a:visited{ */
/*     color: red; */
/*     background-color: black; */
/*     padding: 15px 25px; */
/*     text-align: center; */
/*     display: inline-block; */
/*     text-decoration: none; */
/* } /* CSS attributes of a button that's been visited */ */
/* a:active{ */
/*     color: blue; */
/*     background-color: black; */
/*     padding: 15px 25px; */
/*     text-align: center; */
/*     display: inline-block; */
/*     text-decoration: none; */
/* } /* CSS attributes of a, active link (you've engaged the redirect. RUN.) */ */
/* a:hover{ */
/*     color: pink; */
/*     background-color: black; */
/*     padding: 15px 25px; */
/*     text-align: center; */
/*     display: inline-block; */
/*     text-decoration: none; */
/* } /* behavior when a link is moused over */ */

/* Button behavior */
button:hover{
    color: pink;
    background-color: black;
} /* behavior when a button is moused over */
